@{
    ViewData["Title"] =  "Index";
}

<link rel="stylesheet" href="../css/stylesheet.css">
<div class="row">
    </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    Inicio de sesión
                </div>
                <div class="card-body text-left">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5>Email</h5>
                            <input type="email" class="form-control" id="EmailUser" placeholder="Ingresa email">
                        </div>
                        <div class="col-sm-10">
                            <h5>Contraseña</h5> 
                            <input type="password" class="form-control" id="PasswordUser" placeholder="Ingresa contraseña">
                        </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>