@model IEnumerable<TestDesarrollo.Models.Proyecto>
@{
  ViewBag.Title = "Proyectos";
}  

<h2>Proyectos</h2>
<table class="table">
  <tr>
    <th>Id proyecto</th>
    <th>Nombre proyecto</th>
    <th>Fecha de inicio</th>
    <th>Fecha Fin</th>
    <th>Horas programadas</th>
    <th>Horas consumidas</th>
    <th>Estado</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.NombreProyecto)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FechaInicio)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FechaFin)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.HorasProgramadas)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.HorasConsumidas)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Estado)
      </td>
    </tr>
  }
</table>